/*-----------Pagina de Shop*-----------*/
.container-shop{
    height: 100vh;
    width: 100%;
    background-color: $gris-claro;
}

/*Ajustes del Container de la Publicaciones*/
.container-publicaciones{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}
/*------------*/
/*Estilos para las Cards*/
.card{
	width: 100%;
	margin: 20px;
    margin-top: 10%;
	border-radius: 6px;
	background: $blanco;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
    border-radius: 5px;
	width: 100%;
	height: 210px;
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: $gris-claro;
    font-family: $font-titulos;
}
.card .contenido-card p{
	line-height: 1.8;
	color: $negro;
	font-size: 14px;
	margin-bottom: 5px;
    font-family: $font-parrafos ;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: $negro;
	border: 2px solid #343434;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: $gris-oscuro;
	color: $blanco;
}

/*------------*/
/*Media Querys Dispositivos Medianos a partir de 858px de pantalla*/
@media (max-width: 858px){
    .card img{
        width: 100%;
        height: 150px;
    }
    .card .contenido-card p{
        font-size: 14px;
        margin-bottom: 5px;
    }
    .card .contenido-card a{
        width: 100px;
        height: 35px;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
}
/*-------------------------------------*/
/*Media Querys Dispositivos Pequeños a partir de 690 px de pantalla*/
@media (max-width: 690px){
    .card{
        width: 100%;
        height: 300px;
        margin: 20px;
        margin-top: 15%;
    }
    .card img{
        width: 100%;
        height: 100px;
    }
    .card .contenido-card h3{
        font-size: 15px;
        margin-bottom: 5px;
    }
    .card .contenido-card p{
        font-size: 12px;
    }
    .card .contenido-card a{
        width: 100px;
        height: 35px;
    }
}